
html,
body,
header,
.view {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 2500px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
    background-color: #39c1bd !important;
  }
  
  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  }
  
  @media (max-width: 2500px) {
    .navbar:not(.top-nav-collapse) {
      background: #39c1bd !important;
    }
  }

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

.card {
    background-color: #3333;
}

.md-form label {
  color: #39c1bd;
}

h6 {
  line-height: 1.7;
}

.row {
  margin-top: 65px;
}

.formLogin {
   float:left;
   padding:2px;
   cursor:pointer;
   display:block;
   width:290px;
   margin:auto;
   text-align:left;
}

.ancho {
    border-top: 3px solid #fff;
    width: 200px;
}
.md-form {
  color: #39c1bd;
}

a, a.disabled:hover, a:disabled:hover {
  color: #f8f9fa;
}

.title {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}


.style {
    /* background-image: url('https://previews.123rf.com/images/vladayoung/vladayoung1708/vladayoung170800137/84431247-vector-a-patrones-sin-fisuras-de-la-escuela-fondo-de-dise%C3%B1o-educativo-sin-fin.jpg');  */
    background-color: #333333;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}


.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    background: #5c5c5c;
    border-radius: 20px;
}

.colorFondo {
    background: #39c1bd;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

.sizeText {
    font-size: 25px;
}

.sizeBoton {
    font-size: 15px;
    color:whitesmoke;
}


.input{
    color: #39c1bd;
}

.md-form input[type=text]:focus:not([readonly])+label{
    color:whitesmoke;
}


.form-control {
  color: whitesmoke;
}

.title{
  font-size: 25px;
}